:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  /* =========================================== */
  form{
    width: 70%;
  margin: auto;
  }
  .procont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 70%;
    /* height: 400px; */
    border: 1px;
    border-radius: 32px;
    padding: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.301);
    margin: auto;
    margin-top: 30px;
  
  }
  
  .iconn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  margin-top: 10px;
  }
  
  .iconn i {
    font-size: 40px;
    /* margin-inline: 20px;
    width: 80px;
    height: 80px; */
    color: #ffffff;
  
  
  }
  
  .iconn .b1 {
    width: 80px;
    height: 70px;
   border: none;
    transition: all 0.3s;
    cursor: pointer;
    background: #6856a48a;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-transform: capitalize;
    clip-path: circle();
  }
  .iconn .b1:hover {
    background: #6856A4;
    color: rgb(0, 0, 0);
  }
  .bbh{
    background-color:#6856A4 !important ;
  }
  .singlicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  /* .singlicon a i {
  
    display: flex;
    align-items: center;
    justify-content: center;
  
  } */
  
  .imgg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
  
  }
  .imgg .edit{
  width: 25px;
  height: 25px;
  position: absolute;
  left: 73px;
  top: 77px;
  background-color: #07db00;
  clip-path: circle();
  font-size: 15px;
  text-align: center;
  color: #e7e7e7;
  
  }
  .imgg .remove{
  
  left: 6px;
  background-color: rgb(223, 23, 23);
  
  
  }
  
  .coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 80%;
    position: relative;
  }
  
  .coolinput label.text {
    font-size: 0.75rem;
    color: #0000004d;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #ffffff;
    width: fit-content;
  }
  
  .coolinput input {
    padding: 11px 20px;
    font-size: 16px;
    border: 1px #0000004d solid;
    border-radius: 9px;
    height: 50px;
    width: 100%;
  
  }
  
  .buttoms {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
  }
  
  .b1 {
    width: 150px;
    height: 50px;
    border: 3px solid #6856A4;
    border-radius: 9px;
    transition: all 0.3s;
    cursor: pointer;
    background: #6856A4;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-transform: capitalize;
  }
  
  .load {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 50px auto; */
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    top: 0;
  }
  .load div {
    width: 50px;
    height: 50px;
    background-color: rgb(150, 23, 241);
    border-radius: 50%;
    animation: up-and-down;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .load .two {
    animation-delay: 0.3s;
  }
  .load .three {
    animation-delay: 0.6s;
  }
  
  @keyframes up-and-down {
    to {
      opacity: 0.2;
      transform: translatey(-20px);
    }
  }