
<div class="main">
    <div class="maininfo">
        <img src="image.png" alt="" style=" height: 150px; width: 150px; clip-path: circle();">
        <h2>abdulrahman</h2>
        <h5>Rate</h5>
        <div style=" display: flex; justify-content: space-between;">
            <div>
                <i class="bi bi-star-fill stars"></i>
                <i class="bi bi-star stars"></i>
                <i class="bi bi-star stars"></i>
                <i class="bi bi-star stars"></i>
                <i class="bi bi-star stars"></i>
            </div>
        </div>
    </div>


    <div class="secinfo">
        <h1>About Me</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur dolorum, quae nihil esse, deleniti
            quo maiores debitis rerum atque, facere labore recusandae explicabo tempora magni laudantium dolorem
            sunt? Ut, qui. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, vel architecto obcaecati asperiores explicabo provident in, incidunt atque debitis sunt magni ipsa laborum nihil voluptatibus reprehenderit iusto unde quos illo?</p>
    </div>


</div>
<hr style="width: 90%; align-self: center; margin-top: 30px;">
<h1 style="display: flex;justify-content: center;margin-top: 15px;">My courses</h1>
<div class="coursesSet">
    <div class="cardd">
        <div class="mainimage"><img src="image.png"></div>
        <div style="margin-top: 10px; display: flex; justify-content: space-between;">
            <div style="margin-bottom: 5px;">
                <h3 style="margin-bottom: 0px;">abood</h3>
                <i class="bi bi-star-fill stars"></i>
                <i class="bi bi-star stars"></i>
                <i class="bi bi-star stars"></i>
                <i class="bi bi-star stars"></i>
                <i class="bi bi-star stars"></i>
            </div>
            <div>
                <h2 for="">50$</h2>
            </div>
        </div>
        <div class="discreb">
            <p>Lorem ipsum,.</p>
        </div>
        <div class="cardTecher">
            <div style="display: flex;"><img src="image.png" alt="">
                <h6 style="margin-left: 5px; margin-top: 5px;">abdulrahman</h6>
            </div>
            <label style="margin-top: 5px; font-size: medium; font-weight: bold;">students: 500</label>
        </div>

        <button class="Btn">
            join
        </button>
    </div>