:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  /* =========================================== */
  form{
    width: 70%;
  margin: auto;
  }
  .procont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 70%;
    /* height: 400px; */
    border: 1px;
    border-radius: 32px;
    padding: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.301);
    margin: auto;
    margin-top: 30px;
  
  }
  
  .iconn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  margin-top: 10px;
  }
  
  .iconn i {
    font-size: 40px;
    /* margin-inline: 20px;
    width: 80px;
    height: 80px; */
    color: #ffffff;
  
  
  }
  
  .iconn .b1 {
    width: 80px;
    height: 70px;
   border: none;
    transition: all 0.3s;
    cursor: pointer;
    background: #6856a48a;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-transform: capitalize;
    clip-path: circle();
  }
  .iconn .b1:hover {
    background: #6856A4;
    color: rgb(0, 0, 0);
  }
  .bbh{
    background-color:#6856A4 !important ;
  }
  .singlicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  /* .singlicon a i {
  
    display: flex;
    align-items: center;
    justify-content: center;
  
  } */
  
  
  .accordion {
    cursor: pointer;
    width: 400px ;
    
  }
  
  .accordion-header {
    background-color: #6856A4;;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    border: solid ;
    font-weight: bold;
    color: #ffffff;
  
  }
  .accordion-header:hover{
    /* background-color: #8779b9c8; */
    color: black;
  }
  .accordion-content {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    margin: 10px;
    text-align: center;
  }