<div *ngIf="!tokenVerified">
    <p>Verifying token...</p>
  </div>

<div class="cont" *ngIf="tokenVerified">
    <div class="formm">
        <h1 style="margin-top: 5px; font-size: 35px;">change password</h1>
        <form class="contentt" [formGroup]="changePasswordFrom" (ngSubmit)="changePasswrodMethod()">
            <div style="align-self: flex-start;margin-bottom: 15px;">
            </div>
            <div class="coolinput">
                <label for="input" class="text">password:</label>
                <input [type]="inputType" placeholder="Write here..." class="input" formControlName="passwrod" #passwrodValue (ngModelChange)="passwordvalidation(passwrodValue.value)">
                <label class="passwordeye" (click)="passwrodEye()"> 
                    <i class="bi bi-eye" *ngIf="!show"></i>
                    <i class="bi bi-eye-slash-fill" *ngIf="show"></i>

                </label>
                <label style="color: red;" *ngIf="validPassword">{{validPasswordLabel}}</label>
                <label style="color: red;" *ngIf="!capitalValid">{{capital}}</label>
                <label style="color: green;" *ngIf="capitalValid">{{capital}}</label>
                <label style="color: red;" *ngIf="!lowerValid">{{lower}}</label>
                <label style="color: green;" *ngIf="lowerValid">{{lower}}</label>
                <label style="color: red;" *ngIf="!numberValid">{{number}}</label>
                <label style="color: green;" *ngIf="numberValid">{{number}}</label>
                <label style="color: red;" *ngIf="!charValid">{{char}}</label>
                <label style="color: green;" *ngIf="charValid">{{char}}</label>

            </div>
            <div class="coolinput">
                <label for="input" class="text">confirm password:</label>
                <input type="password" placeholder="Write here..." class="input" formControlName="confirmPasswrod" #confierPasswordValue (ngModelChange)="confiermPasswrodValidation(confierPasswordValue.value,passwrodValue.value)">
                <label style="color: red;">{{confiermPasswrodLabel}}</label>
            </div>


            <div style="width: 100%;">
                <input type="submit" class="b1" value="change password">
            </div>

        </form>

    </div>
    <div style="justify-self:flex-end; width: 50%;display: flex; justify-content: center; align-items: center;"
        class="info"><img src="Asset 2.png"
            style="width: 400px;height: 400px; filter: drop-shadow(0px 0px 32px rgba(0, 0, 0, 0.253));"></div>
</div>


