:host{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
  }
  .cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border: 1px;
    border-radius: 32px;
    padding: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.301);
    margin-top: 50px;
  }
  
  .formm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 496px;
    width: 464px;
    position: relative;
  }
  .contentt{
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;   
  }
  
  /* .links a{
  
  display: flex;
  justify-content:space-between;
  
  
  } */
  
  
  
  
  .coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  width: 350px;
  position: relative;
  }
  .passwordeye{
  font-size: 24px;
  width: fit-content;
  position: absolute;
  top: 25px;
  right: 16px;
  }
  .coolinput label.text {
  font-size: 0.75rem;
  color: #0000004d;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #ffffff;
  width: fit-content;
  }
  
  .coolinput input {
  padding: 11px 20px;
  font-size: 16px;
  border: 1px #0000004d solid;
  border-radius: 9px;
  height: 50px;
  width: 100%;
  
  }
  
  .formm:after 
  {
    content: "";
    background: #dcdcdc8a;
    position: absolute;
    bottom: 33px;
    right: 19px;
    height: 85%;
    width: 0.5px;
  }
  
  
  
  
  .b1 {
    width: 100%;
    height: 50px;
    border: 3px solid #6856A4;
    border-radius: 9px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    color: #6856A4;
    text-transform: capitalize;
  }
  
  .b1:hover {
    background: #6856A4;
    color: white;
    /* font-size: 1.5em; */
  }
  
  
  .forgot{
    margin-top: 15px !important;
    color: #6856A4 !important;
  }
  .forgot :hover{
    color: #a389ff !important;
  }
  .Create:hover{
    color: #a389ff !important;
  
  }
  
  @media (max-width: 992px) {
  body{flex-wrap: wrap;}
  .info{
    display: none !important;
  }
  .formm:after {
    display: none;
  }
  .cont{
    display: flex;
    background-color: transparent !important;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }
  
  .formm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 496px;
    width: 464px;
    border: 1px;
    border-radius: 32px;
    padding: 15px;
    box-shadow: 0px 0px 10px black;
  
  }
  .contentt{
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
   
  }
  
  /* .links a{
  
  display: flex;
  justify-content:space-between;
  
  
  } */
  
  
  
  
  .coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  width: 300px;
  position: relative;
  
  }
  .passwordeye{
  font-size: 24px;
  width: fit-content;
  position: absolute;
  top: 25px;
  right: 16px;
  }
  .coolinput label.text {
  font-size: 0.75rem;
  color: #0000004d;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #ffffff;
  width: fit-content;
  }
  
  .coolinput input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 1px #0000004d solid;
  border-radius: 5px;
  }
  
  .coolinput input {
  outline: none;    
  }
  
  h1{
    margin-bottom: 29px;
  }
  .b1 {
    width: 100%;
    height: 50px;
    border: 3px solid #6856A4;
    border-radius: 9px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    color: #6856A4;
    text-transform: capitalize;
  }
  
  .b1:hover {
    background: #6856A4;
    color: white;
  }
  
  
  
  
  @media (max-width: 700px) {
  body{flex-wrap: wrap;}
  
  
  
  }
  
  }
  